/* Import dei font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background: #FFF;
	font-family: "Montserrat", sans-serif;
}

/*----------------------------------------------------------SCROLLBAR LATERALE------------------------------------------------------*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #4BB377;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #004A86;
}

/*--------------------------------------------------HEADER(navbar, title, side-menu) _START-----------------------------------------------*/

/* ------------------------------------- NAVBAR --------------------------------------------- */

/* Ombra della navbar */
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Navbar */
nav {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-between;
	transition: 1.5s;
	align-items: center;
}

/* Logo */
.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
}

/* Unordered List contenente gli elementi della navbar */
nav ul {
	display: flex;
	align-items: center;
}

nav ul li {
	list-style: none;
	margin: 5px 10px;
}

nav ul li a {
	padding: 2px 10px;
	color: #47506B;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}

/* Elemento indicato dal cursore - hover */
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background:rgba(0, 74, 134, 0.993)
}

/* Elemento attivo (home) */
.active {
	color: #fff;
	border-radius: 5px;
	background: rgba(0, 74, 134, 0.993);
}

.logout { /*pulsante logout*/
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid rgba(255, 0, 0, 0.993);
	border-radius: 20px;
	text-decoration: none;
	transition: .5s;
	background-color: rgba(255, 0, 0, 0.993);
	color: #fff;
}
.logout:hover {
	color: #47506B;
	background: #fff;
}

/* Testo degli elementi non attivi della navbar */
a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #47506B;
	display: block;
	text-decoration: none;
	text-align: center;
}

/* ------------------------------------- SIDE MENU --------------------------------------------- */

.menu {
	cursor: pointer;
	width: 25px;
	display: none;
}

/* Side menu (background ecc...) */
.side-menu {
	width: 100%;
	height: 100%;
	background: rgba(0, 74, 134, 0.993);
	position: absolute;
	top: 0;
	transition: .8s;
	z-index: 2000;
	transform: translateX(-100%);
}

.side-menu ul {
	margin-top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.side-menu ul li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Testo indicato dal cursore - hover */
.side-menu ul li:hover a{
	background: #fff;
	color: rgba(0, 74, 134, 0.993);;
}

.side-menu ul li a{
	color: #FFF;
	width: 100%;
	font-size: 1em;
	text-decoration: none;
	padding: 15px 0px;
}

.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}

/* ------------------------------------- TITLE --------------------------------------------- */

.title {
	margin-top: 150px;
	margin-left: 100px;
}

/* Welcome back - username */
.title span{
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	color: #004A86;
}

/* Sottotitolo welcome back */
.title .shortdesc {
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #47506B;
	margin-bottom: 50px;
}

/*--------------------------------------------------HEADER(navbar, title, side-menu) _END-----------------------------------------------*/

/*-------------------------------------------------------------DASHBOARD _START---------------------------------------------------------*/

/* Overview */

.overview_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.overview_container div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #004A86;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    color: white;
	padding: 20px;
}

#topper_overview {
    font-family: "Montserrat", sans-serif;
}

#number {
    font-size: 30px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* To-Do */

.todo_container {
    grid-template-columns: 1fr 1fr;
	margin-bottom: 15px;
}

.todo_elements {
    background-color: #4BB377;
    height: 200px;
	width: 1000px;
    overflow: scroll;
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
	padding: 20px;
	display: flex;
    justify-content: left;
    flex-direction: column;
}

#check {
    display: flex;
    flex-direction: row;
	padding-top: 10px;
	padding-bottom: 10px;
    border-bottom: 1px solid #47506B;
}

/* Plus Button */

#beside_title {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #dde1e7;
    border-radius: 50px;
}

button {
    cursor: pointer;
}

/*-------------------------------------------------------------DASHBOARD _END-----------------------------------------------------------*/



/*------------------------------------------------------------SEZIONE CORSI _START------------------------------------------------------*/

/* Sezione Corsi */
.inbt {
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	color: #004A86;
	margin: 100px;
	margin-bottom: 50px;
	scroll-margin-top: 80px;
}

/* Titolo principale sezione corsi */
.inbt span{
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	color: #004A86;
}

/* Sottotitolo sezione corsi */
.inbt .shortdesc2 {
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #47506B;
	margin-bottom: 10px;
}

/*COURSES AVAILABLE*/
.ccard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.ccardbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*Card corso complessiva*/
.dcard {
	margin: 10px;
	width: 300px;
	height: 210px;
	background: linear-gradient(to right, #4BB377, #004A86);
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	cursor: pointer;
}

/*Sezione card contenente l'immagine*/
.dcard .fpart {
	width: inherit;
	height: 150px;
	color: #000;
	text-align: left;
	overflow: hidden;
}

/*immagine della sezione fpart*/
.dcard .fpart img {
	width: 100%;
	height: 100%;
}

/*Sezione card contenente il nome del corso*/
.dcard .spart {
	padding: 10px;
	padding-right: 0px;
	color: #fff;
	text-align: left;
	cursor: pointer;
	font-size: 15px;
}

.dcard:hover .fpart img{
	transition: .8s ease;
	transform: scale(1.2);
}

/*------------------------------------------------------------SEZIONE CORSI _END------------------------------------------------------*/



/*-------------------------------------------------------------FOOTER _START----------------------------------------------------------*/

footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0;
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
}
footer .footer-container .foot{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

/*-------------------------------------------------------------FOOTER _END----------------------------------------------------------*/



/*-------------------------------------------------Sezione per Responsive Website _START--------------------------------------------*/

@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.menu {
		display: block;
	}
	.logo {
		transition: 1s ease;
		margin-left: 45%;
		transform: scale(1.5);
	}
	nav ul, .logout{
		display: none;
	}
}

@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
}

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1000px) {
	.nav ul, .nav .search {
		display: none;
	}
	.logo {
		transition: 1s ease;
		margin-left: 45%;
		transform: scale(1.5);
	}
	.nav ul li{
		width: 100%;
		margin-bottom: 5px;
	}
	.nav .switch-tab {
		visibility: visible;
	}
	.nav .check-box {
		visibility: visible;
	}
}

/*-------------------------------------------------Sezione per Responsive Website _END--------------------------------------------*/









